
hr.main {
    border: 3px solid black;
    margin-top: 0em;
    margin-bottom: 0px;
    border-width: 3px;
    position: relative;
    z-index: 1;
  }

.logo{
      z-index: 2;
      position: relative;
  }

  .bg-image {
    /* The image used */
    background-image: url("me.jpeg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
#description{
    font-size: 3em;
    color: white;
    background-color:rgba(0, 0, 0, 0.5);
}